In [1]:
import pandas as pd
from sklearn import datasets

In [6]:
boston = datasets.load_boston()
boston.data[[1,2,3],[0,2,3]]= None #임의로 누락값을 만들어줌
dfX = pd.DataFrame(boston.data, columns = boston.feature_names)
dfy = pd.DataFrame(boston.target, columns = ["MEDV"])

In [7]:
df = pd.concat([dfX, dfy], axis = 1)
print(df)

        CRIM    ZN  INDUS  CHAS    NOX     RM   AGE     DIS  RAD    TAX  \
0    0.00632  18.0   2.31   0.0  0.538  6.575  65.2  4.0900  1.0  296.0
1        NaN   0.0   7.07   0.0  0.469  6.421  78.9  4.9671  2.0  242.0
2    0.02729   0.0    NaN   0.0  0.469  7.185  61.1  4.9671  2.0  242.0
3    0.03237   0.0   2.18   NaN  0.458  6.998  45.8  6.0622  3.0  222.0
4    0.06905   0.0   2.18   0.0  0.458  7.147  54.2  6.0622  3.0  222.0
..       ...   ...    ...   ...    ...    ...   ...     ...  ...    ...
501  0.06263   0.0  11.93   0.0  0.573  6.593  69.1  2.4786  1.0  273.0
502  0.04527   0.0  11.93   0.0  0.573  6.120  76.7  2.2875  1.0  273.0
503  0.06076   0.0  11.93   0.0  0.573  6.976  91.0  2.1675  1.0  273.0
504  0.10959   0.0  11.93   0.0  0.573  6.794  89.3  2.3889  1.0  273.0
505  0.04741   0.0  11.93   0.0  0.573  6.030  80.8  2.5050  1.0  273.0

     PTRATIO       B  LSTAT  MEDV
0       15.3  396.90   4.98  24.0
1       17.8  396.90   9.14  21.6
2       17.8  392.83   4.03  34.7
3       18.7  394.63   2.94  33.4
4       18.7  396.90   5.33  36.2
..       ...     ...    ...   ...
501     21.0  391.99   9.67  22.4
502     21.0  396.90   9.08  20.6
503     21.0  396.90   5.64  23.9
504     21.0  393.45   6.48  22.0
505     21.0  396.90   7.88  11.9

[506 rows x 14 columns]

In [12]:
#수치 항목들만 남겨놓고, 누락값을 median으로 채울거임
feature_names = list(boston.feature_names)
category_feature_names = ['CHAS', 'RAD']
numeric_feature_names = list(set(feature_names)-set(category_feature_names))

In [15]:
median = df[numeric_feature_names].median()
dfN = df[numeric_feature_names].fillna(median)

In [48]:
category_feature_names

['CHAS', 'RAD']

In [58]:
#카테고리 항목들은, 다수 값으로 치환 할거임
#코드 살짝 오류
dfC = df[category_feature_names]

for field in category_feature_names:
    val = dfC[field].value_counts().index[0]
    dfC = dfC.fillna(val)
dfC

     CHAS  RAD
0     0.0  1.0
1     0.0  2.0
2     0.0  2.0
3     0.0  3.0
4     0.0  3.0
..    ...  ...
501   0.0  1.0
502   0.0  1.0
503   0.0  1.0
504   0.0  1.0
505   0.0  1.0

[506 rows x 2 columns]

In [59]:
df = pd.concat([dfN,dfC], axis = 1)
print(df.head())

      RM       B  LSTAT  PTRATIO    TAX    NOX     DIS    ZN   AGE     CRIM  \
0  6.575  396.90   4.98     15.3  296.0  0.538  4.0900  18.0  65.2  0.00632
1  6.421  396.90   9.14     17.8  242.0  0.469  4.9671   0.0  78.9  0.25915
2  7.185  392.83   4.03     17.8  242.0  0.469  4.9671   0.0  61.1  0.02729
3  6.998  394.63   2.94     18.7  222.0  0.458  6.0622   0.0  45.8  0.03237
4  7.147  396.90   5.33     18.7  222.0  0.458  6.0622   0.0  54.2  0.06905

   INDUS  CHAS  RAD
0   2.31   0.0  1.0
1   7.07   0.0  2.0
2   9.69   0.0  2.0
3   2.18   0.0  3.0
4   2.18   0.0  3.0

In [107]:
# 스케일링
# numeric data만 min max 스케일링
from sklearn.preprocessing import StandardScaler, MinMaxScaler
boston = datasets.load_boston()
dfX = pd.DataFrame(boston.data, columns = boston.feature_names)
feature_names = list(boston.feature_names)
category_feature_names= ['CHAS', 'RAD']
numeric_feature_names = list(set(feature_names)-set(category_feature_names))

In [108]:
scaler = MinMaxScaler()
scaler.fit(dfX[numeric_feature_names])
scaled_boston = scaler.transform(dfX[numeric_feature_names])

In [68]:
scaled_df = pd.DataFrame(scaled_boston, columns=numeric_feature_names)
dfX = pd.concat([scaled_df, dfX[category_feature_names]],axis=1)
dfy = pd.DataFrame(boston.target, columns =["MEDV"])
df = pd.concat([dfX,dfy], axis=1)
print(df.head())

         RM         B     LSTAT   PTRATIO       TAX       NOX       DIS    ZN  \
0  0.577505  1.000000  0.089680  0.287234  0.208015  0.314815  0.269203  0.18
1  0.547998  1.000000  0.204470  0.553191  0.104962  0.172840  0.348962  0.00
2  0.694386  0.989737  0.063466  0.553191  0.104962  0.172840  0.348962  0.00
3  0.658555  0.994276  0.033389  0.648936  0.066794  0.150206  0.448545  0.00
4  0.687105  1.000000  0.099338  0.648936  0.066794  0.150206  0.448545  0.00

        AGE      CRIM     INDUS  CHAS  RAD  MEDV
0  0.641607  0.000000  0.067815   0.0  1.0  24.0
1  0.782698  0.000236  0.242302   0.0  2.0  21.6
2  0.599382  0.000236  0.242302   0.0  2.0  34.7
3  0.441813  0.000293  0.063050   0.0  3.0  33.4
4  0.528321  0.000705  0.063050   0.0  3.0  36.2

In [109]:
# 카테고리 데이터 -> 수치 데이터 변환
#one hot encoder에서 active feature가 없다는데..? => categories_로 바뀐거같음
import sklearn.preprocessing as prp

label_encoder = prp.LabelEncoder()
onehot_encoder = prp.OneHotEncoder()

dfC = pd.DataFrame()
for field in category_feature_names:
    #print(field)
    encoded_data = label_encoder.fit_transform(dfX[field])
    onehot_data = onehot_encoder.fit_transform(encoded_data.reshape(-1,1))
    print(onehot_data.shape)
    dfC = pd.concat([dfC, pd.DataFrame(onehot_data.toarray(), columns=onehot_encoder.categories_)], axis=1)
dfX = pd.concat([scaled_df, dfC], axis=1)
dfy = pd.DataFrame(boston.target, columns =["MEDV"])
df = pd.concat([dfX,dfy], axis=1)
print(df.head())

(506, 2)
(506, 9)
         RM         B     LSTAT   PTRATIO       TAX       NOX       DIS    ZN  \
0  0.577505  1.000000  0.089680  0.287234  0.208015  0.314815  0.269203  0.18
1  0.547998  1.000000  0.204470  0.553191  0.104962  0.172840  0.348962  0.00
2  0.694386  0.989737  0.063466  0.553191  0.104962  0.172840  0.348962  0.00
3  0.658555  0.994276  0.033389  0.648936  0.066794  0.150206  0.448545  0.00
4  0.687105  1.000000  0.099338  0.648936  0.066794  0.150206  0.448545  0.00

        AGE      CRIM  ...  (0,)  (1,)  (2,)  (3,)  (4,)  (5,)  (6,)  (7,)  \
0  0.641607  0.000000  ...   1.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0
1  0.782698  0.000236  ...   0.0   1.0   0.0   0.0   0.0   0.0   0.0   0.0
2  0.599382  0.000236  ...   0.0   1.0   0.0   0.0   0.0   0.0   0.0   0.0
3  0.441813  0.000293  ...   0.0   0.0   1.0   0.0   0.0   0.0   0.0   0.0
4  0.528321  0.000705  ...   0.0   0.0   1.0   0.0   0.0   0.0   0.0   0.0

   (8,)  MEDV
0   0.0  24.0
1   0.0  21.6
2   0.0  34.7
3   0.0  33.4
4   0.0  36.2

[5 rows x 23 columns]